* {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  font-family: sans-serif;
  -webkit-text-size-adjust: none;
  height: 100vh;
  font-size: 10px;
  overflow: hidden;
}
img,
svg {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
  &:active,
  &:hover {
    text-decoration: none;
  }
}
.vertical-align-middle {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}
.none {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
  width: 100%;
}
.hide {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1%;
  line-height: 1%;
}
//-----로딩바
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #eeeeee;
    border-radius: 50%;
    border-top-color: #ff0000;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
}
